h1{
  font-family: Roboto-slab;
  font-size: 2rem;
}
.nav{
  display: flex;
  justify-content: center;
}
.pool{

  
  border-radius: 20px;
}
.gym{
  
  
  border-radius: 20px;
}
.beach{

  border-radius: 20px;
}
.spa{
  
  border-radius: 20px;
}
.vollyball{

  border-radius: 20px;
}
.barbeque{

  border-radius: 20px;
}
